/* *{
    outline: red 1px solid;
} */

html, body{
    margin: 0;
    padding: 0;
    background-color: gold;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;

    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::selection {
    background: hotpink;
    color: white;
  }

#wallpaper{
    margin: 0;
    /* gap: 20px; */
    width: 100%;
    height: 100%;
    /* border: 10px inset burlywood; */

    /* background-color: rgb(255, 244, 179); */
    background-image: url('images/wallpaper.png');
    background-size:75px;
    background-position: center;
    background-repeat: repeat;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#high-wide-and-handsome{
    width: 20vw;
    position: absolute;
    top: 3vh;
    right:0;
    left: auto;
    transform: rotate(25deg);
    z-index: 11;
    overflow: hidden;
}

header{
    margin: 0;
    padding: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 10px;
    font-size: 2em;
    text-align: center;
    color: rgb(21, 141, 21);
    /* background-color: rgb(148, 148, 38); */
}

#screen{
    position: relative;
    width: 80vw;
    height: 75vh;
    
    border-top: 5vh ridge rgb(189, 113, 12);
    border-bottom: 5vh groove rgb(189, 113, 12);
    border-left: 5vh groove rgb(189, 113, 12);
    border-right: 5vh ridge rgb(189, 113, 12);

    background-image: url('images/zootown.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    color:rgb(255, 194, 39);
    font-size: 1em;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 5px rgba(255, 196, 0, 0.75)
}

#screen::before {
    width: 100%;
    height: 100%;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.1) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 10;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

#treasure{
    font-size: 0.75em;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 20%;
    top: 15%;
    z-index: 9;
    color: rgb(225,225,225);
    text-shadow: 0.5px 0.5px 5px rgba(225, 225, 225, 0.75);
    summary{
        color: rgb(156, 53, 156);
        text-shadow: 0.5px 0.5px 5px plum;
        list-style-type: '★ ';
    }

    details[open] > summary{
        list-style-type: '☆ ';
    }

    summary::marker{
        color:rgb(156, 53, 156);
        font-size: 1.5em;
        font-weight: bold;
    }

    border: 5px dotted plum;
    border-radius: 1em;
    background-color: rgba(221, 160, 221, 0.5);
    background-clip: padding-box

}

#bigskywhat{
    font-size: 0.75em;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 70%;
    top: 30%;
}

#ososypata{
    font-size: 0.75em;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 7%;
    top: 50%;
}

#lastbestwhere{
    font-size: 0.75em;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 40%;
    top: 40%;
}

#ariverruns{
    font-size: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 45%;
    top: 57%;

    s {
        color: rgb(58, 68, 66);
        text-shadow: rgba(87, 91, 90,0.5)
        text-decoration: line-through;
        text-decoration-color: blue;
        text-decoration-thickness: 1px;
        text-decoration-style: wavy;
      }
}

#peace{
    width: 40px;
    position: absolute;
    top: 50%; 
    left: 75%;
    z-index: 3; 
  }

  #clocktower{
    width: 10px;
    position: absolute;
    top: 51%; 
    left: 40%;
    z-index: 3; 
  }

  #radio{
    width: 0.5px;
    position: absolute;
    top: 47%; 
    left: 90%;
    z-index: 3; 
  }

  #xxxx{
    width: 30px;
    position: absolute;
    top: 59%; 
    left: 62%;
    z-index: 3; 
  }

  #webarebears{
    width: 30px;
    position: absolute;
    top: 55%; 
    left: 12%;
    z-index: 3; 
  }

  #duck{
    width: 20px;
    position: absolute;
    top: 60%; 
    left: 9%;
    z-index: 3; 
    cursor: pointer;
  }

  #contact-me{
    width: fit-content;
    height: fit-content;
    border-radius: 50px 50px 50px 0;

    position: absolute;
    inset: unset;
    left: 11%;
    top: 45%;
    z-index: 9;
    text-shadow: none;
  }

  @keyframes shake {
    0% { transform: scale(1.25) translate(0, 0) rotate(0deg); }
    20% { transform: scale(1.25) translate(-2px, 1px) rotate(-2deg); }
    40% { transform: scale(1.25) translate(2px, -1px) rotate(2deg); }
    60% { transform: scale(1.25) translate(-2px, 2px) rotate(-1deg); }
    80% { transform: scale(1.25) translate(1px, -2px) rotate(1deg); }
    100% { transform: scale(1.25) translate(0, 0) rotate(0deg); }
  }
  
  #peace:hover {
    animation: shake 0.4s ease-in-out infinite;

  }

  #clocktower:hover {
    animation: shake 0.4s ease-in-out infinite;
  }

  #radio:hover {
    animation: shake 0.4s ease-in-out infinite;
  }

  #xxxx:hover {
    animation: shake 0.4s ease-in-out infinite;
  }

  #webarebears:hover {
    animation: shake 0.4s ease-in-out infinite;
  }

  #duck:hover {
    animation: shake 0.4s ease-in-out infinite;
  }